@import "@fontsource/urbanist"; 
@import "@fontsource/roboto";
@import "tailwindcss";

@theme{
    --font-*: initial;
    --font-main: "urbanist", "serif";
    --font-roboto : "roboto", "serif";

    --color-primary: #4e7661;
    --color-primary-brightness: #5d8d74;
    --text-color: #000000;  
}



